<div class="bg-dark h-auto vw-100 d-flex flex-column justify-content-center">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">

    <div class="col">
      <div class="plane-window">
        <img src="https://picsum.photos/400/600/?random=1">
        <div class="place-intro">
          <h3 class="place-name">Paris</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="plane-window">
        <img src="https://picsum.photos/400/600/?random=2">
        <div class="place-intro">
          <h3 class="place-name">Berlin</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi labore eum iste fugim repudiandae eveniet placeat asperiores ipsam</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="plane-window">
        <img src="https://picsum.photos/400/600/?random=3">
        <div class="place-intro">
          <h3 class="place-name">Beijing</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi labore eumiet placeat asperiores ipsam</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="plane-window">
        <img src="https://picsum.photos/400/600/?random=4">
        <div class="place-intro">
          <h3 class="place-name">Tokyo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adaceat asperiores ipsam</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="plane-window">
        <img src="https://picsum.photos/400/600/?random=5">
        <div class="place-intro">
          <h3 class="place-name">Bankok</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi labore eum iste fugit ducimus, molestias nostrum dolorum repudiandae eveniet placeat asperiores ipsam</p>
        </div>
      </div>
    </div>

  </div>
</div>