<!-- div#main-footer.main-footer>.container>.footer-item*4>h4.nav-title{Item title $@1}+nav.nav-list>a:link*3>lorem4^^^^.copyright{ &copy; 2020 Hok Hyk. } -->
<div id="main-footer" class="main-footer">
  <div class="footer-container">
    <div class="footer-item">
      <h4 class="nav-title">Column title 1</h4>
      <nav class="nav-list">
        <a href="http://"><span class="material-icons ">chevron_right</span> Lorem ipsum dolor</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Dolores impedit fuga</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Asperiores nostrum autem</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Aliquam aliquid assumenda</a>
      </nav>
    </div>
    <div class="footer-item">
      <h4 class="nav-title">Column title 2</h4>
      <nav class="nav-list">
        <a href="http://"><span class="material-icons ">chevron_right</span> Cumque vitae accusantium</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Ea eligendi quibusdam</a>
      </nav>
    </div>
    <div class="footer-item">
      <h4 class="nav-title">Column title 3</h4>
      <nav class="nav-list">
        <a href="http://"><span class="material-icons ">chevron_right</span> Laudantium ducimus</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Beatae dignissimos nulla</a>
        <a href="http://"><span class="material-icons ">chevron_right</span> Temporibus nihil eius</a>
      </nav>
    </div>
    <div class="footer-item">
      <h4 class="nav-title">Column title 4</h4>
      <nav class="nav-list">
        <form class="subscribe-form">
          <input type="email" name="subscribe-email" placeholder="Input email address">
          <button type="submit" class="subscribe-button">Subscribe</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="copyright"> &copy; 2020 Hok Hyk. </div>
</div> 
