<!-- header.header>.head-container>a>img^nav.main-nav>a*4^.search-bar>input[type=search]+button -->

<header class="header">
  <div class="head-container">
    <a href="#" class="logo">
      <img src="assets/logo/blog-logo.png" alt="">
    </a>
    <nav class="main-nav">
        <a class="menu-level1" href="#">Menu item 1</a>
        <ul class="sub-menu">
          <li class="sub-menu-item">Lorem, ipsum.</li>
          <li class="sub-menu-item">Lorem ipsum.</li>
          <li class="sub-menu-item">Lorem</li>
        </ul>

        <a class="menu-level1" href="#">Menu item 2</a>
        <ul class="sub-menu">
          <li class="sub-menu-item">Lorem, ipsum.</li>
          <li class="sub-menu-item">Lorem ipsum.</li>
          <li class="sub-menu-item">Lorem</li>
        </ul>
        
        <a class="menu-level1" href="#">Menu item 3</a>
        <a class="menu-level1" href="#">Menu item 4</a>
    </nav>
    <div class="search-bar">
      <form class="search-form" action="">
        <input type="search">
        <button>
          <span class="material-icons">search</span>
        </button>
      </form>
    </div>
  </div>
</header>

