<!--The content below is only a placeholder and can be replaced.-->
<div class="h-100 vw-100">
  <div style="text-align:center">
    <p class="h1 bold">
      Welcome to {{ title }}!
    </p>
  </div>
  <div class="container-fluid overflow-hidden">
    <nav class="row mb-5">
      <ul class="nav nav-bar">
        <li class="mx-5"><a [routerLink]="['/former']">Former CSS3 examples</a></li>
        <li class="mx-5"><a [routerLink]="['/gradient']">Gradient background</a></li>
        <li class="mx-5"><a [routerLink]="['/imagehover']">Hover Over Image</a></li>
        <li class="mx-5"><a [routerLink]="['/cityproflie']">Person Profile</a></li>
        <li class="mx-5"><a [routerLink]="['/overlaycard']">Overlay Card</a></li>
        <li class="mx-5"><a [routerLink]="['/news']">News List</a></li>
      </ul>
    </nav>
  </div>
  
  <router-outlet></router-outlet>
</div>



