<input id="sidebar-toggle" class="sidebar-toggle" type="checkbox">
<div class="sidebar-container">
  <label for="sidebar-toggle" class="sidebar-toggle-label"><span class="material-icons">chevron_right</span></label>
  <div class="search-bar">
    <form class="search-form" action="">
      <input type="search">
      <button>
        <span class="material-icons">search</span>
      </button>
    </form>
  </div>
  <nav class="sidebar">
    <ul>
      <li>
        <a class="menu-level1" href="#">Menu item 1</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="#">sub 1, ipsum.</a></li>
          <li class="sub-menu-item"><a href="#">sub 2.</a></li>
          <li class="sub-menu-item"><a href="#">Lorem ipsum. sub 3</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-level1" href="#">Menu item 2</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="#">sub 1, ipsum.</a></li>
          <li class="sub-menu-item"><a href="#">sub 2.</a></li>
          <li class="sub-menu-item"><a href="#">Lorem ipsum. sub 3</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-level1" href="#">Menu item 3</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="#">sub 4, ipsum.</a></li>
          <li class="sub-menu-item"><a href="#">sub 5.</a></li>
          <li class="sub-menu-item"><a href="#">Lorem ipsum. sub 6</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-level1" href="#">Menu item 4</a>
      </li>
      <li>
        <a class="menu-level1" href="#">Menu item 5</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="#">sub 7, ipsum.</a></li>
          <li class="sub-menu-item"><a href="#">sub 8.</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
