<div class="news-list mx-auto px-5">
  <div class="news-item">
    <div class="news-image">
      <img src="https://picsum.photos/600/400/?random=1">
    </div>
    <div class="news-brief">
      <h3 class="news-title">A news's title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>

  <div class="news-item">
    <div class="news-image">
      <img src="https://picsum.photos/600/400/?random=10">
    </div>
    <div class="news-brief">
      <h3 class="news-title">A news's title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisir adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>

</div>

