<!-- table.nav-table>thead>td{th $}*5^tbody>tr*3>td*5 -->
<div class="nav-table-wrapper">
  <table class="nav-table">
    <thead>
      <!-- <td>th 1</td>
      <td>th 2</td>
      <td>th 3</td>
      <td>th 4</td>
      <td>th 5</td> -->
    </thead>
    <tbody>
      <tr>
        <td><a [routerLink]="['/former']">Former CSS3 examples</a></td>
        <td><a [routerLink]="['/gradient']">Gradient background</a></td>
        <td><a [routerLink]="['/imagehover']">Hover Over Image</a></td>
        <td><a [routerLink]="['/cityproflie']">Person Profile</a></td>
        <td><a [routerLink]="['/overlaycard']">Overlay Card</a></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/news']">News List</a></td>
        <td><a [routerLink]="['/footer']">Page Footer</a></td>
        <td><a [routerLink]="['/mainnav']">Navigation Bar</a></td>
        <td><a [routerLink]="['/breadcumb']">Breadcumb</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>