<div class="image-list bg-dark mx-auto px-5">
  <div class="image-row">
    <div class="image-window">
      <img src="https://picsum.photos/800/600/?random=1">
    </div>
    <div class="image-intro">
      <h3 class="image-name">Paris</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.</p>
    </div>
  </div>

  <div class="image-row">
    <div class="image-intro">
      <h3 class="image-name">Berlin</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.orres ipsam.</p>
    </div>
    <div class="image-window">
      <img src="https://picsum.photos/800/600/?random=2">
    </div>
  </div>
</div>
